

    <div class="jumbotron">
        <h1>PA03: Course Finder Fall20-Spr21 </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this assignment is to write an app that will let
        students pick their courses for the year. Since we don't have 
        the data for this year (due to workday issues), we will use the 
        2020-2021 Academic year data. You must signup or login to see
        the courses and create your schedule.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/Clothing/byID">
            Show Clothing by ID: 
              <input type="text" name="ID" 
                     placeholder="e.g. 3">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byCategory">
            Show Clothing by Category: 
            <input type="text" name="Category" 
                   placeholder="e.g. skirt">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byPrice">
            Show Clothing by Price: 
              <input type="text" name="Price" 
                     placeholder="e.g. 19">
            <input type="submit">
        </form>

        <br>
        <a href="/schedule/show">Show Schedule</a>
       
        


    <% } %>


